*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --orange-color: #EE8F39;
    --light-blue: #25A59E;
    --brand: #44D5CD;
    --white: #FFFFFF;
    --black: #262626;
}
/* Default styles for desktops */
body {
  font-size: 20px;
  background-color: white;
  margin: 30px;
}
.navbar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0px;
  position: absolute;
  height: 33px;
  left: 120px;
  right: 120px;
  top: 44px;
  }
.text-wrapper {
  font-family:"Gilda display";
  font-style: normal;
  font-weight: 400;
  font-size: 28px;
  line-height: 33px;
  letter-spacing: 0.1em;
  color: #25A59E;
}
.travel{
  font-family:"Gilda display";
  font-style: normal;
  font-weight: 400;
  font-size: 10vw;
  line-height: 170px;
  position: absolute;
  text-align: center;
  padding: 80px;
  width: 90%;
  
}
span {
  color: #25A59E;
}
.blurry {
  position: absolute;
  width: 682px;
  height: 682px;
  top: 412px;
  left: 329px;
  background-color: #44D5CD;
  border-radius: 341px;
  border: 1px solid;
  border-color: #EE8F39;
  filter: blur(400px);
}
.circle-background {
  display: inline-flex;
    align-items: flex-start;
    gap: 10px;
    padding: 40px;
    position: absolute;
    top: 399px;
    left: 167px;
    border-radius: 1000px;
    border: 1px solid;
    border-color: #EE8F39;
}
.ecllip {
  position: relative;
    width: 925px;
    height: 925px;
    background-color: var(--orange-color);
    border-radius: 462.5px;
}
.overlap img {
  position: absolute;
    width: 869px;
    height: 458px;
    top: 253px;
    left: 235px;
}