*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --orange-color: #EE8F39;
    --light-blue: #25A59E;
    --brand: #44D5CD;
    --white: #FFFFFF;
    --black: #262626;
}
/* Default styles for desktops */
body {
  font-size: 20px;
  background-color: white;
  margin: 30px;
}
.navbar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0px;
  position: absolute;
  height: 33px;
  left: 120px;
  right: 120px;
  top: 44px;
  }
.text-wrapper {
  
}